<div class="user-index all-wrapper">
  <div class="user-index-container all-container">

   <div class="user-index-title">
        <h2>ユーザー一覧</h2>
    </div>

    <%= render partial: 'user_all'%>
    
  </div>

  <div class="pagination-container">
    <%= paginate @users %>
  </div>

</div>




