<div class="user-index all-wrapper">
  <div class="user-index-container all-container">
     <%= link_to '前のページに戻る>>', :back, class: 'back-btn' %>
    <div class="user-index-title">
        <h2>検索結果<%= @users.count %>件</h2>
      </div>

      <%= render partial: 'user_all'%>
    
  </div>
</div>
