<div class="user-index all-wrapper">
  <div class="user-index-container all-container">

   <div class="user-index-title">
        <h2><%= @user.username %>さんがフォローしているユーザー</h2>
    </div>

    <%= render partial: 'user_all'%>

  </div>
</div>