<div class="user-index all-wrapper">
  <div class="user-index-container all-container">

   <div class="user-index-title">
        <h2><%= @user.username %>さんのフォロワー一覧</h2>
    </div>

    <%= render partial: 'user_all'%>
    
  </div>
</div>