<div class="main-back-img">


  <div class="main">
    <div class="main-container">
        <div class="main-content">
          <div class="main-heading">
            <h1>大学内で<br>探したいを<br>簡単に！</h1>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="second-main">
    <div class="about">
      <div class="about-container">
        <div class="about-content">
          <div class="title about-title">
            <h2><span>Ks Essentails</span>とは？</h2>
          </div>
          <div class="about-text">
            <p>意外と難しい『大学内で何かを探す』ということを簡単にでき、<br>あなたの大学生活をより良くしてくれるサービスです！</p>
          </div>
        </div>
      </div>
    </div>

    <div class="posible">
      <div class="posible-container">
        <div class="posible-content">
          <div class="title posible-title">
            <h2><span>Ks Essentails</span>はこんなことができる</h2>
          </div>

          <div class="posible-list">
            <div class="posible-list-container">
              <div class="posible-list-content">
                <div class="posible-list-title">
                  <h3><span><i class="fas fa-check"></i></span>投稿一覧</h3>
                  <%= image_tag 'post_all.jpeg', class: 'home-img'%>
                </div>
                <div class="posible-list-text">
                  <p>大学内の色んな募集や投稿を見ることができ、探したい情報が簡単に見つかる！！！</p>
                </div>
              </div>
              <div class="posible-list-content">
                <div class="posible-list-title">
                  <h3><span><i class="fas fa-check"></i></span>新規投稿</h3>
                    <%= image_tag 'post.jpeg', class: 'home-img'%>
                </div>
                <div class="posible-list-text">
                  <p>自分の探している何かを書いて投稿すると簡単に大学内に届けることができる！！！
                    相手の投稿に興味がある場合コメントも可能！！！
                  </p>
                </div>
              </div>
              <div class="posible-list-content">
                <div class="posible-list-title">
                  <h3><span><i class="fas fa-check"></i></span>DM機能</h3>
                  <%= image_tag 'message.jpeg', class: 'home-img'%>
                </div>
                <div class="posible-list-text">
                  <p>プライベートにメッセージを送りたい場合はDM機能を使おう！！！</p>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="push">
      <div class="push-container">
        <div class="push-content">
          <div class="title push-title">
            <h2><span>Ks Essentials</span>を使って<br>大学生活をもっと楽しくしよう！</h2>
          </div>
          <div class="register-btn">
            <%= link_to '今すぐ新規登録', new_user_registration_path, class: 'register-new-btn'%>
          </div>
        </div>
      </div>
    </div>

  </div><!--second-main-->

    <footer>
      <div class="footer-container">
        <div class="footer-content">
        
          <div class="footer-copyright">
            <p>©︎2020 Es Essentails</p>
          </div>
        </div>
      </div>
    </footer>

 