<div class="post-new all-wrapper">
  <div class="post-new-container all-container">
    <div class="post-new-title">
      <h3>掲示板に投稿する</h3>
    </div>

      <%= render 'form_post' %>

  </div>
</div>



