// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//DM
//rooms/showのview
.chat-room {
  padding-bottom: 70px;
}
.chat-room-container {
  max-width: 650px;
  padding: 20px 15px 40px 15px;
}

.chat-room-title {
    text-align: center;
    padding-bottom: 20px;
}

//自分のメッセージ rooms/_chat_area
.my-message-container {
  margin-bottom: 15px;
  margin-left: auto;
  padding-right: 10px;
  width: 270px;
  .my-message {
    background-color:skyblue;
    width: 270px;
    padding: 12px 10px; 
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    color: #fff;
  }
  
  .my-message::before {
    content: '';
    border: 10px solid transparent;
    border-left: 20px solid skyblue;
    position: absolute;
    top: 50%;
    right: -20px;
  }

  .my-message-time {
    font-size: 11px;
    text-align: right;
    display: block;
    color: #808080;
    margin: 2px 5px 0 0;
  }
}

//相手のメッセージ
.other-message-container {
  margin-bottom: 15px;
  margin-right: auto;
  padding-left: 10px;
  width: 270px;
  .other-message {
    background-color:#ddd;
    width: 270px;
    padding: 12px 10px; 
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    color: #333;
  }
  
  .other-message::before {
    content: '';
    border: 10px solid transparent;
    border-right: 20px solid #ddd;
    position: absolute;
    top: 50%;
    left: -20px;
  }

  .other-message-time {
    font-size: 11px;
    text-align: left;
    display: block;
    color: #808080;
    margin: 2px 0  0 5px;
  }
}

.nothing-message {
  text-align: center;
  padding-bottom: 20px;
  color: #808080;
}

//chatのform rooms/_chat-form
.chat-text-field {
  font-size: 15px;
  padding: 11px  8px;
  border-radius: 4px;
  width: 80%;
  margin-left: 30px;
  border: 2px solid #ddd;
}

.chat-form-submit {
  outline: none;
  padding: 6px 11px ;
  font-size: 15px;
  border-radius: 4px;
  border: 1px solid skyblue;
  transition: background .4s;
  color: #fff;
  background: skyblue;
  cursor: pointer;
  display: inline-block;
  margin-left: 1px;
}

.chat-form-submit:hover {
  background: #fff;
  color: skyblue;
}

//ここからroomのindexページ
.room-index-container {
  max-width: 650px;
  padding: 20px 30px 30px 30px;
  transition: all .2s;
}

.room-index-title {
  text-align: center;
  padding-bottom: 15px;
}

.room-index-link {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  .room-index-profile-img {
    width: 15%;
    .dm-index-img {
      width: 80px;
      height: 80px;
    }
  }

  .room-index-message {
      color: #333;
      margin-left: 10px;
      width: 73%;
    .dm-index-username {
      font-weight: 700;
      font-size: 18px;
    }

    .dm-index-message {
      padding-top: 5px;
    }
  }

  .room-index-message-time {
    width: 12%;
    .dm-index-message-time {
      font-size: 11px ;
      color: #808080;
    }
  }
}

.room-index-link:hover {
  background: #eee;
}

.nothing-dm {
  text-align: center;
  font-size: 20px;
}

//レスポンシブ
@media screen and (max-width:580px) {
  .my-message-container {
    width: 220px;
    .my-message {
      width: 220px;
     font-size: 14px;
    }
  }

  .other-message-container {
    width: 220px;
    .other-message {
      font-size: 14px;
      width: 220px;
    }
  }
  
  .chat-text-field {
    width: 60%;
  }

  .room-index-link {
    .room-index-profile-img {
      .dm-index-img {
        width: 60px;
        height: 60px;
      }
    }
  
    .room-index-message {
        margin-left: 10px;
      .dm-index-username {
        font-weight: 700;
        font-size: 16px;
      }
  
      .dm-index-message {
        padding-top: 5px;
      }
    }
  }
}
